h1 = @article.title
p = img @article.picture.regular if @article.picture?

p = @article.summary
p: strong = @article.category.name
hr
= simple_format @article.body

= link_to 'Editar', edit_admin_article_path(@article), class: 'btn'